POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
BTH_ENGINE_ECHO=0
BTH_LOGGING_CONFIGURATION_FILE=logging.ini
BTH_PG_DSN=postgresql+asyncpg://postgres:postgres@db/postgres
BTH_PRIVATE_API_TOKEN=bth-private-token
BTH_PUBLIC_API_TOKEN=bth-token