services:
  db:
    image: postgres:latest
    ports:
      - 5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      interval: 10s
      retries: 10
      test: 'pg_isready -U "$$POSTGRES_USER" -d "$$POSTGRES_DB"'
      timeout: 2s
  api:
    build: 
      context: ..
      dockerfile: docker/backend/Dockerfile
    environment:
      - BTH_ENGINE_ECHO=${BTH_ENGINE_ECHO}
      - BTH_LOGGING_CONFIGURATION_FILE=${BTH_LOGGING_CONFIGURATION_FILE}
      - BTH_PG_DSN=${BTH_PG_DSN}
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    labels:
      - traefik.enable=true
      - traefik.http.routers.balanceteshaters-app.rule=Host(`balanceteshaters-app.services.d4g.fr`)
      - traefik.http.routers.balanceteshaters-app.entryPoints=webtls
      - traefik.http.routers.balanceteshaters-app.tls=true
      - traefik.docker.network=d4g-internal
      - traefik.http.services.balanceteshaters-app.loadbalancer.server.port=8000